<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/narrow.css') }}">
  </head>
  <body>
    <!-- Begin page content -->
    <div class="container">
      <div class="header clearfix">
        <h1 class="text-muted">McNeel Contributor License Agreement</h1>
      </div>

      <div class="row marketing">
        <strong>Version:</strong> <a href="{{ cla.link }}"><code>{{ cla.sha }}</code></a>
      </div>

      <pre>
        <code>
{{ cla.text }}
        </code>
      </pre>

      <div class="row marketing">
        {% from "_formhelpers.html" import render_field, render_checkbox_field %}
        <form method=post action="/sign">
          {{ render_field(form.username) }}
          {{ render_field(form.full_name) }}
          {{ render_field(form.email) }}
          {{ render_field(form.address) }}
          {{ render_field(form.telephone) }}
          {{ render_checkbox_field(form.accept) }}

          <button type=submit class="btn btn-primary btn-block">Sign the CLA</button>
        </form>
      </div>

      <!-- footer -->
      <footer class="footer">
        <p>&copy; Robert McNeel &amp; Associates 2015</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>
